@using CCA.Util;
@using System.Collections.Specialized;
@{
    Layout = "~/Areas/Payment/Views/Shared/LayoutPayment.cshtml";
    Mugurtham.Core.Login.LoggedInUser objLoggedIn = (Mugurtham.Core.Login.LoggedInUser)Session["LoggedInUser"];
    Random randomValue = new Random();
    var randomId = randomValue.Next().ToString();
    var tid = "WE16-" + randomId;
}
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-primary bs-example well bs-component FormShadow">
            <div class="panel-heading">
                <h3 class="panel-title text-center">
                    Invoice Form
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">

                    <form class="form-horizontal" id="payment" name="payment" method="post" action="~/home/processor">
                        <div class="form-group">
                            <label for="UserName" class="col-lg-3 control-label">Profile ID</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" value="@objLoggedIn.LoginID" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="UserName" class="col-lg-3 control-label">Sangam Name</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" value="@objLoggedIn.SangamCoreEntity.Name" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Theme" class="col-lg-3 control-label">Paying For</label>
                            <div class="col-lg-9">
                                <select class="form-control" id="ddlPaymentFor">
                                    <option value="Membership">Membership</option>
                                    <option value="Highlight">Highlight My Profile</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="UserName" class="col-lg-3 control-label">Amount</label>
                            <div class="col-lg-9">
                                <input type="text" id="txtAmount" class="form-control" value="500.00" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="UserName" class="col-lg-3 control-label">Notes</label>
                            <div class="col-lg-9">
                                <textarea class="form-control" id="txtNotes" name="txtNotes" rows="5" cols="40" placeholder="Some Note about this payment.."></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="text-right col-lg-12">
                                <button type="submit" id="btnCheckout" name="btnSave" class="btn btn-primary">Checkout</button>
                            </div>
                        </div>
                        <div>
                            <input type="hidden" id="merchant_id" name="merchant_id" value="133253" /> <!-- pass this merchant id from any secure way-->
                            <input type="hidden" id="currency" name="currency" value="INR" />
                            <input type="hidden" id="language" name="language" value="en" />
                            <input type="hidden" id="amount" name="amount" value="" />
                            <input type="hidden" id="order_id" name="order_id" value="@tid" />
                            <input type="hidden" id="tid" name="tid" value="@randomId" />
                            <input type="hidden" id="redirect_url" name="redirect_url" value="https://www.mugurtham.com/home/ccResponse" />
                            <input type="hidden" id="cancel_url" name="cancel_url" value="" https://www.mugurtham.com/Matrimony#/PaymentFailure" />
                            <input type="hidden" id="merchant_param1" name="merchant_param1" value="@objLoggedIn.LoginID" />
                            <input type="hidden" id="merchant_param2" name="merchant_param2" />
                            <input type="hidden" id="merchant_param3" name="merchant_param3" />

                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <blockquote>
            <p>This form is used to collect your payment infomration </p>
        </blockquote>
    </div>
</div>

<script>
    $("#btnCheckout").click(function () {
        // Set Merchant Parameter on Payment For
        $('#merchant_param2').val($('#ddlPaymentFor').val());
        // Set Merchant Parameter on Notes
        $('#merchant_param3').val($('#txtNotes').val());
        $('#amount').val($('#txtAmount').val());

    });
    //Set Amount Value
    $("#ddlPaymentFor").change(function () {
        if ($("#ddlPaymentFor").val() === 'Highlight') {
            $('#txtAmount').val('1000.00');
            $('#amount').val('1000.00');
        }
        else if ($("#ddlPaymentFor").val() === 'Membership') {
            $('#txtAmount').val('500.00');
            $('#amount').val('500.00');
        }
    });
</script>

