@{
    Layout = null;
    Mugurtham.Core.Login.LoggedInUser objLoggedIn = (Mugurtham.Core.Login.LoggedInUser)Session["LoggedInUser"];
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Mugurtham - Associations Integrated</title>
    <meta name="viewport" content="width=device-width" />
    <link id="stylesheet" rel="stylesheet" href="@Url.Content("~/App_Themes/MugurthamTheme/css/Mugurtham/Bootstrap/bootstrap.min.css")" class="pull-right" />
    <link id="stylesheet" rel="stylesheet" href="@Url.Content("~/App_Themes/MugurthamTheme/css/Mugurtham/Mugurtham.css")" />
    @Styles.Render("~/Content/MugurthamJQueryUI")
    @Styles.Render("~/Content/MugurthamToastr")
    <!--@Styles.Render("~/Content/MugurthamBase")-->
    @Styles.Render("~/Content/MugurthamMask")
    @Styles.Render("~/Content/MugurthamJqplot")
    @Styles.Render("~/Content/Flexslider")
    @Styles.Render("~/Content/Lightbox")    
</head>
<body onload="javascript:setUserStyleLocale('@objLoggedIn.themeID');">
    <form ng-app="MugurthamApp" name="frmPortal" novalidate>
        <div id="body" ng-controller="MugurthamController" class="bgImage" data-ng-init="changeLanguage('@objLoggedIn.localeID');">
            <!-- Page top navigation-->
            <nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="container">

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbarCollapse">

                        <ul class="nav navbar-nav navbar-middle ">
                            <li class="navbar-brand">@objLoggedIn.SangamName</li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right ">
                            <li>
                                <a id="lblName">Hii @objLoggedIn.Name  !!! &nbsp;&nbsp;</a>
                            </li>
                            <li><a onclick="window.location = '/Home/Logout';" id="tabLogout" data-toggle="tab" style="cursor: pointer">Logout</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="aSelectStyle" style="cursor: pointer">Switch Style <span class="caret"></span></a>
                                <ul id="ddlThemes" class="dropdown-menu" role="menu">
                                    <li class="active"><a id="Bootstrap" cssurl='@Url.Content("~/App_Themes/MugurthamTheme/css/Mugurtham/Bootstrap/bootstrap.min.css")'>Bootstrap</a></li>
                                    <li><a id="Cerulean" cssurl='@Url.Content("~/App_Themes/MugurthamTheme/css/Mugurtham/Bootstrap/bootstrap-Cerulean.min.css")'>Cerulean</a></li>
                                    <li><a id="Cyborg" cssurl='@Url.Content("~/App_Themes/MugurthamTheme/css/Mugurtham/Bootstrap/bootstrap-Cyborg.min.css")'>Cyborg</a></li>
                                    <li><a id="Darkly" cssurl='@Url.Content("~/App_Themes/MugurthamTheme/css/Mugurtham/Bootstrap/bootstrap-Darkly.min.css")'>Darkly</a></li>
                                    <li><a id="Flatly" cssurl='@Url.Content("~/App_Themes/MugurthamTheme/css/Mugurtham/Bootstrap/bootstrap-Flatly.min.css")'>Flatly</a></li>
                                    <li><a id="Lumen" cssurl='@Url.Content("~/App_Themes/MugurthamTheme/css/Mugurtham/Bootstrap/bootstrap-Lumen.min.css")'>Lumen</a></li>
                                    <li><a id="Paper" cssurl='@Url.Content("~/App_Themes/MugurthamTheme/css/Mugurtham/Bootstrap/bootstrap-Paper.min.css")'>Paper</a></li>
                                    <li><a id="Readable" cssurl='@Url.Content("~/App_Themes/MugurthamTheme/css/Mugurtham/Bootstrap/bootstrap-Readable.min.css")'>Readable</a></li>
                                    <li><a id="Simplex" cssurl='@Url.Content("~/App_Themes/MugurthamTheme/css/Mugurtham/Bootstrap/bootstrap-Simplex.min.css")'>Simplex</a></li>
                                    <li><a id="Slate" cssurl='@Url.Content("~/App_Themes/MugurthamTheme/css/Mugurtham/Bootstrap/bootstrap-Slate.min.css")'>Slate</a></li>
                                    <li><a id="Spacelab" cssurl='@Url.Content("~/App_Themes/MugurthamTheme/css/Mugurtham/Bootstrap/bootstrap-Spacelab.min.css")'>Spacelab</a></li>
                                    <li><a id="Superhero" cssurl='@Url.Content("~/App_Themes/MugurthamTheme/css/Mugurtham/Bootstrap/bootstrap-United.min.css")'>Superhero</a></li>
                                    <li><a id="United" cssurl='@Url.Content("~/App_Themes/MugurthamTheme/css/Mugurtham/Bootstrap/bootstrap-United.min.css")'>United</a></li>
                                    <li><a id="Yeti" cssurl='@Url.Content("~/App_Themes/MugurthamTheme/css/Mugurtham/Bootstrap/bootstrap-Yeti.min.css")'>Yeti</a></li>
                                    <li class="divider"></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="aSelectLang" style="cursor: pointer">Switch Language <span class="caret"></span></a>
                                <ul id="ddlLocale" class="dropdown-menu" role="menu">
                                    <li><a id="0449" localeid="0449">Tamil</a></li>
                                    <li class="active"><a id="0409" localeid="0409">English</a></li>
                                    <li><a id="0439" localeid="0439">Hindi</a></li>
                                    <li><a id="044a" localeid="044a">Telgu</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container ">
                <!-- The big header-->
                <div class="jumbotron">
                    <table width="100%">
                        <tr>
                            <td width="10%">
                                <img src="@objLoggedIn.SangamLogoPath" height="90px" width="100%" />
                            </td>
                            <td width="90%">
                                <img src="@objLoggedIn.SangamBannerPath" height="90px" width="100%" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <br />@objLoggedIn.AboutSangam
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- Rending Body from child page-->
                @RenderSection("featured", required: false)
                @RenderBody()
                <div id="divContainer" ng-view></div>

                <hr />
                <!-- Footer Inofmraion-->

                
                <div class="panel-footer col-lg-12">
                    <div class="col-lg-6">
                        &#169 {{ 'GENCOPYRT' | translate }} 2013 @objLoggedIn.SangamName
                    </div>
                    <div class="col-lg-6 text-right">
                        <img src="~/Images/Mugurtham/Flag.jpg" height="19" width="35" />
                        Powered by Mugurtham &#174
                        &nbsp; v 2.3.3
                    </div>
                    <br /><br />
                </div>
                <div class="panel-footer col-lg-12 text-justify">
                    <img src="/favicon.ico" height="25" width="40" />   Mugurtham was founded in 2012 with one simple objective - to provide a superior collaborative matchmaking experience by expanding the opportunities available to meet potential life partners. Since then we have created a world renowned service that has touched the lives of millions of people all over the world and helping accelarint revenue for sangams. We have, however, never rested on our laurels. Software division providing cutting edge business solutions to Matrimony Industry. An innovator in teleMatrimony and analytics. Partner focused on quality and growth.
                </div>
                <div class="panel-footer col-lg-12">
                    <div class="col-lg-3">
                        <div class="footer-head">Help</div>
                        <ul class="pointlink">
                            <li><a href="Faq.php">FAQs</a></li>
                            <li><a href="http://mugurtham.com/mockup1/contact-us.html">Contact Us</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3">
                        <div class="footer-head">Privacy</div>
                        <ul class="pointlink">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms Conditions</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <div class="footer-head">Information</div>
                        <ul class="pointlink">
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Training</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <div class="footer-box2">
                            <div class="footer-head">Follow us on</div>
                            <ul class="soc">
                                <li class="icon-1"><a href="#" target="_blank">Facebook</a></li>
                                <li class="icon-2" style="width:60px;"><a href="#">Twitter</a></li>
                                <li class="icon-3"><a href="#">Google Plus</a></li>

                            </ul>
                        </div>

                        <div class="clear"></div>
                    </div>
                </div>
            </div>
    </form>
    @Scripts.Render("~/bundles/MugurthamJQuery")
    @Scripts.Render("~/bundles/MugurthamBootstrap")
    @Scripts.Render("~/bundles/MugurthamToastr")
    @Scripts.Render("~/bundles/MugurthamAngularJS")
    @Scripts.Render("~/bundles/MugurthamJqplot")
    @Scripts.Render("~/bundles/FlexSlider")
    @Scripts.Render("~/bundles/Lightbox")
    @Scripts.Render("~/bundles/Paging")
    @Scripts.Render("~/bundles/MugurthamApp")
    <script type="text/javascript" src="@Url.Content("~/Scripts/Mugurtham.js/Mugurtham/Controllers/ControllerMugurtham.js")"></script>
    @Scripts.Render("~/bundles/MugurthamDashboard")
    @Scripts.Render("~/bundles/MugurthamControllerProfile")
    @Scripts.Render("~/bundles/MugurthamControllerSearch")
    @Scripts.Render("~/bundles/MugurthamControllerUserChamber")
    @Scripts.Render("~/bundles/MugurthamControllerFullView")
    @Scripts.Render("~/bundles/MugurthamControllerMugurthamAdmin")

</body>
</html>
